<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>admin.servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CourseTypeServlet</servlet-name>
    <servlet-class>coursetype.servlet.CourseTypeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeptServlet</servlet-name>
    <servlet-class>dept.servlet.DeptServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MajorServlet</servlet-name>
    <servlet-class>major.servlet.MajorServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SubjectServlet</servlet-name>
    <servlet-class>subject.servlet.SubjectServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CourseServlet</servlet-name>
    <servlet-class>course.servlet.CourseServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddCourseServlet</servlet-name>
    <servlet-class>course.servlet.AddCourseServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AdminCourseServlet</servlet-name>
    <servlet-class>course.servlet.AdminCourseServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddAdminServlet</servlet-name>
    <servlet-class>admin.servlet.AddAdminServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ChangeAdminServlet</servlet-name>
    <servlet-class>admin.servlet.ChangeAdminServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddCourseTypeServlet</servlet-name>
    <servlet-class>coursetype.servlet.AddCourseTypeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ChangeCourseTypeServlet</servlet-name>
    <servlet-class>coursetype.servlet.ChangeCourseTypeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddSubjectServlet</servlet-name>
    <servlet-class>subject.servlet.AddSubjectServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ChangeSubjectServlet</servlet-name>
    <servlet-class>subject.servlet.ChangeSubjectServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddMajorServlet</servlet-name>
    <servlet-class>major.servlet.AddMajorServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ChangeMajorServlet</servlet-name>
    <servlet-class>major.servlet.ChangeMajorServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddDeptServlet</servlet-name>
    <servlet-class>dept.servlet.AddDeptServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ChangeDeptServlet</servlet-name>
    <servlet-class>dept.servlet.ChangeDeptServlet</servlet-class>
  </servlet>


















  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CourseTypeServlet</servlet-name>
    <url-pattern>/CourseTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeptServlet</servlet-name>
    <url-pattern>/DeptServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MajorServlet</servlet-name>
    <url-pattern>/MajorServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubjectServlet</servlet-name>
    <url-pattern>/SubjectServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CourseServlet</servlet-name>
    <url-pattern>/CourseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddCourseServlet</servlet-name>
    <url-pattern>/AddCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminCourseServlet</servlet-name>
    <url-pattern>/AdminCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddAdminServlet</servlet-name>
    <url-pattern>/AddAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeAdminServlet</servlet-name>
    <url-pattern>/ChangeAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddCourseTypeServlet</servlet-name>
    <url-pattern>/AddCourseTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeCourseTypeServlet</servlet-name>
    <url-pattern>/ChangeCourseTypeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddSubjectServlet</servlet-name>
    <url-pattern>/AddSubjectServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeSubjectServlet</servlet-name>
    <url-pattern>/ChangeSubjectServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddMajorServlet</servlet-name>
    <url-pattern>/AddMajorServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeMajorServlet</servlet-name>
    <url-pattern>/ChangeMajorServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddDeptServlet</servlet-name>
    <url-pattern>/AddDeptServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeDeptServlet</servlet-name>
    <url-pattern>/ChangeDeptServlet</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
